__pycache__/
fred.pkl
ppstrials3.zip
LF_tests/
acktest.pcap
ampapps.pkl
*.pkl
*.zip
doitlive.sh
journal/output
metal_output/
output_files/
taylor/.pps_tester.py.swp
taylor/bitdir.sh
taylor/fwupdate.sh
updating/updateSF_0.3.1.sh
updating/updateSF_0.6.1.sh
updating/updateSF_firmsoft.sh
updating/updateSF_r0.4.0.sh
updating/updateSF_r0.4.1.sh
*~
