__pycache__/
data/
LF_tests/
*.pkl
*.zip
*.gz
*.xz
*.csv
journal/output
metal_output/
output_files/

doitlive.sh
taylor/.pps_tester.py.swp
taylor/bitdir.sh
taylor/fwupdate.sh
updating/updateSF_0.3.1.sh
updating/updateSF_0.6.1.sh
updating/updateSF_firmsoft.sh
updating/updateSF_r0.4.0.sh
updating/updateSF_r0.4.1.sh
*~
#*#
.progress